.wholepage{
    height: 600px;
    width: 350px;
    border-radius: 10%;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.background-image img{
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    border-radius: 10%;
    top: 0px;
}
.heading{
    color: red;
    font-size: larger;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image{
    clip-path: circle();
}
.video1{
    margin-top: 150px;
}
.express{
    text-transform: none;
    color: greenyellow;
    animation-name: express;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes express{
    0%{
        left: -90px;
    }
    50%{
        left: 80px;
    }
    100%{
        left: -90px;
    }
}


